@import '~app/shared/styles/main.scss';

$statistic-selected-color: rgba(rdview-color('accent'), .3);

:host {
  text-align: center;
}

.year-statistic {
  width: 30em;
  margin: auto;
}

.stats {
  width: 50%;
  float: left;
  height: 100%;
  overflow-y: auto;
}

.table-hover tr {
  cursor: pointer;
}

tr.selected {
  background-color: $statistic-selected-color;
}
