<div *ngIf="roadStatisticByYear">
  <h4>Всего фотографий: {{ roadStatisticByYear.totalPhotos }}</h4>
  <h4>Всего км: {{ roadStatisticByYear.totalKm | number }}</h4>
  <div class="year-statistic" *ngFor="let yearStat of roadStatisticByYear.statisticByYear">
    <h4>{{ yearStat.year }} год</h4>
    <h5>{{ yearStat.totalKm | number }} км {{ yearStat.totalPhotos }} Фотографий</h5>
    <table class="table table-hover table-sm">
      <thead>
        <tr class="table-header" scope="col">
          <th>Начало, км</th>
          <th>Конец, км</th>
          <th>Длина, км</th>
          <th>Фотографий</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let s of yearStat.roadStatistic"
            (click)="clickRoadStatistic(s)"
            [ngClass]="{ 'selected': selectedRoadStatistic === s }">
          <td>{{ s.rdBeg | number}}</td>
          <td>{{ s.rdEnd | number}}</td>
          <td>{{ s.kmLength | number}}</td>
          <td>{{ s.photosCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
