@media print {
  .no-print {
    display: none !important;
  }

  body * {
    visibility: hidden;
  }

  .print, .print * {
    visibility: visible;
  }

  .print {
    position: absolute;
    left: 0;
    top: 0;
  }

  .only-for-print {
    display: block !important;
  }
}

.only-for-print {
  display: none;
}

.page-break	{
  display: none;
}
