<div class="row-container clearfix">
  <div class="road-search-container">
    <app-road-typeahead-input
      [roadName]="selectedRoad"
      (selectRoad)="selectCurrentRoad($event)"
      (enterKeyup)="initByRoad()">
    </app-road-typeahead-input>
  </div>
  <i class="clear-road fa fa-fw fa-lg fa-close"
    (click)="clearRoad()"
    title="Очистить дорогу"
    [ngClass]="{ 'active': asyncSelectedRoad != null }">
  </i>
  <div class="road-km-container">
    <input type="number"
      class="form-control km"
      placeholder="км"
      title="Километр"
      [(ngModel)]="selectedKm"
      step=".001"
      (keyup.enter)="initByRoad()">
  </div>
</div>

<div class="row-container clearfix">
  <div class="coord">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">N</span>
      </div>
      <input type="number"
        class="form-control"
        step="any"
        [(ngModel)]="lat"
        title="Широта"
        (keyup.enter)="initByCoords()">
    </div>
  </div>
  <div class="coord">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">E</span>
        </div>
      <input type="number"
        class="form-control"
        step="any"
        [(ngModel)]="lon"
        title="Долгота"
        (keyup.enter)="initByCoords()">
    </div>
  </div>
  <div class="search-buttons">
    <button type="button"
        [disabled]="(!lat && lat !== 0) || (!lon && lon !== 0)"
        class="btn btn-primary"
        (click)="initByCoords()"
        title="Поиск по координатам">
      <i class="fa fa-fw fa-lg fa-globe"></i>
    </button>
    <button type="button"
        [disabled]="!roadId"
        class="btn btn-primary"
        (click)="initByRoad()"
        title="Поиск по дороге">
      <i class="fa fa-fw fa-lg fa-road"></i>
    </button>
  </div>
</div>
