.row-container {
  margin: .3em .3em;
}

.road-search-container {
  width: calc(100% - 8em);
  float: left;
  position: relative;
}

.clear-road {
  vertical-align: middle;
  line-height: 1.7em;
  cursor: not-allowed;
  color: grey;
}

.clear-road.active {
  cursor: pointer;
  color: black;
}

.road-km-container {
  width: 6em;
  float: right;
}

.typeahead-status {
  position: absolute;
  top: 2.5em;
  z-index: 5;
  background-color: white;
  padding: .5em;
  max-width: 20em;
  width: 20em;
  text-align: center;
}

.road-search-template {
  max-width: 20em;
  width: 20em;
  word-wrap: break-word;
  white-space: normal;
}

.road-name,
.km {
  width: 100%;
}

.coord {
  width: 8.4em;
  float: left;
  padding-left: 0;
  padding-right: .5em;
}

.coord input {
  padding-left: .375em;
  padding-right: .375em;
}

.search-buttons {
  float: right;
}
