@import '~app/shared/styles/main.scss';

.row-container {
  margin: .3em .3em;
}

.road-search-container {
  width: calc(100% - 8em);
  float: left;
  position: relative;
}

.clear-road {
  vertical-align: middle;
  line-height: 1.7em;
  cursor: not-allowed;
  color: grey;
}

.clear-road.active {
  cursor: pointer;
  color: black;
}

.road-km-container {
  width: 6em;
  float: right;
}

.road-name,
.km {
  width: 100%;
}

.coord {
  width: 8.4em;
  float: left;
  padding-left: 0;
  padding-right: .5em;
}

.coord input {
  padding-left: .375em;
  padding-right: .375em;
}

.search-buttons {
  float: right;
}
