<div class="row-container clearfix">
  <div class="road-search-container">
    <ng-template #customItemTemplate let-model="item" let-index="index">
      <div class="road-search-template">
        {{ model.name }}
      </div>
    </ng-template>

    <input [(ngModel)]="asyncSelectedRoad"
      [typeahead]="roadDataSource"
      (typeaheadLoading)="changeTypeaheadLoading($event)"
      (typeaheadNoResults)="changeTypeaheadNoResults($event)"
      (typeaheadOnSelect)="typeaheadOnSelect($event)"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="4"
      [typeaheadItemTemplate]="customItemTemplate"
      [typeaheadWaitMs]="300"
      [typeaheadMinLength]="3"
      typeaheadOptionField="name"
      placeholder="Название дороги"
      class="form-control">

    <div class="typeahead-status" *ngIf="typeaheadLoading || typeaheadNoResults">
      <div *ngIf="typeaheadLoading">Загрузка</div>
      <div *ngIf="typeaheadNoResults">&#10060; Ничего не найдено</div>
    </div>
  </div>
  <div class="road-km-container">
    <input type="number" class="form-control km" placeholder="км" [(ngModel)]="km" step=".001">
  </div>
</div>

<div class="row-container clearfix">
  <div class="coord">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">N</span>
      </div>
      <input type="number" class="form-control" step="any" [(ngModel)]="lat">
    </div>
  </div>
  <div class="coord">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">E</span>
        </div>
      <input type="number" class="form-control" step="any" [(ngModel)]="lon">
    </div>
  </div>
  <div class="search-buttons">
    <button type="button"
        [disabled]="(!lat && lat !== 0) || (!lon && lon !== 0)"
        class="btn btn-primary"
        (click)="initByCoords(lat, lon)"
        title="search by coordinates">
      <i class="fa fa-fw fa-lg fa-globe"></i>
    </button>
    <button type="button"
        [disabled]="!roadId || (!km && km !== 0)"
        class="btn btn-primary"
        (click)="initByRoad()"
        title="search by road">
      <i class="fa fa-fw fa-lg fa-road"></i>
    </button>
  </div>
</div>
