@import '~app/shared/styles/main.scss';

$loading-indicator-color: rdview-color('primary');

.loading-indicator {
  position: fixed;
  width: $loading-indicator-size;
  height: $loading-indicator-size;
  top: 50%;
  left: 50%;
  margin-left: - $loading-indicator-size / 2;
  margin-top: - $loading-indicator-size / 2;
  z-index: 10000;
  color: $loading-indicator-color;
}
