@import '~app/shared/styles/main.scss';

$table-header-color: rdview-color('primary');

.table-header {
  background-color: $table-header-color;
}

.year-statistic {
  width: 30em;
  margin: auto;
}

.stats {
  width: $statistic-width;
  float: left;
  height: 100%;
  overflow-y: auto;
}

.map {
  width: calc(100% - #{$statistic-width});
  float: right;
  height: 100%;
}

.network-statistic {
  text-align: center;
}

.container {
  padding: .5em;
}
