.header {
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  background-color: #5bc0de;
}

.user {
  float: right;
  padding-right: .5em;
  color: white;
}

.btn.logout {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius : .2rem;
}
