@import '~app/shared/styles/main.scss';

.content {
  width: 100%;
  height: 100%;
}

.road-photo {
  max-height: 100%;
  max-width: 100%;
  user-select: none;
}

.photo-container {
  width: calc(100% - #{$photo-view-control-container-width});
  height: 100%;
  float: left;

  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  height: $photo-view-map-height;
  display: block;
}

.control-container {
  width: $photo-view-control-container-width;
  height: 100%;
  float: right;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.passage-selector {
  min-height: 5em;
  flex: 1;
}
