<div class="content">
  <app-sidebar (toggleEnd)="toggleEnd($event)">
    <div class="sidebar-panel">
      <div class="control-container">
        <app-position-control
          [isInited]="isInited"
          [lat]="lat"
          [lon]="lon"
          [azimuth]="azimuth"
          [roadId]="roadId"
          [roadName]="roadName"
          [km]="km"
          [passages]="passages"
          [selectedPassage]="selectedPassage"
          [position]="position"
          (initByCoordinates)="initByCoordinates($event)"
          (initByRoad)="initByRoad($event)"
          (nextPhoto)="nextPhoto()"
          (previousPhoto)="previousPhoto()"
          (selectPassage)="selectPassage($event)">
        </app-position-control>
      </div>
    </div>
    <div class="sidebar-content">
      <div *ngIf="!isSideBarOpen && isInited" class="simple-control-container">
        <app-simple-position-control
          [isInited]="isInited"
          [roadName]="roadName"
          [km]="km"
          [lat]="lat"
          [lon]="lon"
          [date]="date"
          (nextPhoto)="nextPhoto()"
          (previousPhoto)="previousPhoto()">
        </app-simple-position-control>
      </div>
      <div class="photo-container">
        <img #roadphoto class="road-photo">
      </div>
    </div>
  </app-sidebar>
</div>
