<div class="content">
  <div class="photo-container">
    <img #roadphoto class="road-photo">
  </div>

  <div class="control-container">
    <div class="map-container">
      <app-map-position
        [isInited]="isInited"
        [lat]="lat"
        [lon]="lon"
        [azimuth]="azimuth"
        (selectPosition)="initByCoordinates($event)">
      </app-map-position>
    </div>

    <app-position-initializer
      [roadName]="roadName"
      [roadId]="roadId"
      [km]="km"
      [lat]="lat"
      [lon]="lon"
      [isInited]="isInited"
      (selectRoad)="initByRoad($event)"
      (selectCoordinates)="initByCoordinates($event)">
    </app-position-initializer>

    <app-position-movement
      [isInited]="isInited"
      (previousPhoto)="previousPhoto()"
      (nextPhoto)="nextPhoto()"
      (selectRoad)="initByRoad($event)"
      (selectCoordinates)="initByCoordinates($event)">
    </app-position-movement>

    <div class="passage-selector">
      <app-passage-selector *ngIf="isInited"
        [passages]="passages"
        [selectedPassage]="selectedPassage"
        [beginKm]="position.closeToCurrentBeginKm"
        [endKm]="position.closeToCurrentEndKm"
        [currentKm]="position.currentPhoto.km"
        (selectPassage)="selectPassage($event)">
      </app-passage-selector>
    </div>
  </div>
</div>

<div class="loading-indicator" *ngIf="isLoading">
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
